script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
script.
	window.jQuery || document.write('<script src="../assets/javascripts/vendors/jquery-1.11.3.min.js"><\/script>')
script(src='../assets/javascripts/vendors/bootstrap.min.js')
script(src='../assets/javascripts/vendors/slick/slick.min.js')
script(src='../assets/javascripts/site.min.js')


script.
	(function() { 

	})();