<aside class="dashboard-sidebar">
	<section class="sidebar-section">
		<header class="sidebar-header">
			<h3 class="sidebar-title">Select Trip Preference</h3>
		</header>
		<div class="trip-preference-wrapper">
			<form action="">
				<input type="radio" name="trip-preference" class="form-control" id="inputTripEficient" value="Efficient">
				<label for="inputTripEficient">Efficient</label>
				<input type="radio" name="trip-preference" class="form-control" id="inputTripEconomy" value="Economy">
				<label for="inputTripEconomy">Economy</label>
				<input type="radio" name="trip-preference" class="form-control" id="inputTripLuxury" value="Luxury">
				<label for="inputTripLuxury">Luxury</label>
			</form>
		</div>
	</section>
	<section class="sidebar-section">
		<header class="sidebar-header">
			<h3 class="sidebar-title">Booking Details</h3>
			<p class="sidebar-subtitle">April 6, 2016 - April 12, 2016</p>
		</header>

		<div class="sidebar-content">
			<div class="widget-container">
				<div class="widget-meta-type">Departure</div>
				<div class="widget-wrapper">
					<div class="widget-instruction"><p>Please select your departure flight</p></div>
				</div>
			</div>

			<div class="widget-container">
				<div class="widget-meta-type">Return</div>
				<div class="widget-wrapper">
					<div class="widget-instruction"><p>Please select your return flight</p></div>
				</div>
			</div>

			<div class="widget-container">
				<div class="widget-meta-type">Hotel</div>
				<div class="widget-wrapper">
					<div class="widget-instruction"><p>Please select your hotel stay</p></div>
				</div>
			</div>

			<div class="widget-container">
				<div class="widget-meta-type"></div>
				<div class="widget-wrapper">
					<div class="close"><i class="fa fa-times" aria-hidden="true"></i></div>	
					<div class="widget-content widget-type__airline">
						<div class="widget-thumbnail-wrapper">
							<img src="../assets/images/mockups/icon-airline.png" alt="" class="widget-thumbnail">
						</div>
						<div class="widget-body">
							<h5 class="widget-title">Singapore Airline</h5>
							<p class="widget-copy">CGK-SIN, SQ414</p>
							<p class="widget-copy">10:00-14:00</p>
						</div>
						<div class="widget-extra">
							<p class="total">$ 140</p>
						</div>
					</div>
				</div>
			</div>

			<div class="widget-container">
				<div class="widget-meta-type"></div>
				<div class="widget-wrapper">
					<div class="close"><i class="fa fa-times" aria-hidden="true"></i></div>	
					<div class="widget-content widget-type__hotel">
						<div class="widget-body">
							<h5 class="widget-title">Intercontinental Jakarta</h5>
							<form action="">
								<select class="form-control">
									<option value="">1 night</option>
									<option value="">2 nights</option>
									<option value="">3 nights</option>
									<option value="">4 nights</option>
								</select> 

								<select class="form-control">
									<option value="">Double room</option>
									<option value="">Twin share</option>
									<option value="">Deluxe</option>
									<option value="">Executive</option>
								</select> 
								<p class="form-total">Total: <span>$ 150</span></p>
							</form>
						</div>
						<img src="../assets/images/mockups/icon-hotel.png" alt="" class="widget-thumbnail">
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="sidebar-footer">
		<p class="text-nominal">$900</p>
		<p class="text-total">Total</p>
		<p class="text-destination">Singapore - Jakarta</p>
		

		<div class="cta-wrapper">
			<a href="" class="btn btn-aristo btn-block btn-aristo__lg btn-aristo__orange">Book Trip</a>
		</div>
	</footer>
</aside> 