<section class="destination-filter">
	<form class="form-inline">
	  <div class="form-group">
		  <div class="select-wrapper select-wrapper__departure">
				<select class="form-control" id="inputDeparture">
					<option value="">Jakarta, Indonesia</option>
					<option value="">Bandung, Indonesia</option>
					<option value="">Bali, Indonesia</option>
				</select> 
		  </div>
	  </div>
	  <div class="form-group">
	  	<div class="select-wrapper select-wrapper__return">
				<select class="form-control" id="inputReturn">
					<option value="">Singapore</option>
					<option value="">Kuala Lumpur, Malaysia</option>
				</select> 
			</div>
	  </div>
	  <div class="form-group">
	  	<div class="date-wrapper">
	  		<input type="text" class="form-control js-jquery-datepicker" id="inputDepartureDate">
	  	</div>
	  </div>
	  <div class="form-group">
	  	<div class="date-wrapper">
	  		<input type="text" class="form-control js-jquery-datepicker" id="inputReturnDate">
	  	</div>
	  </div>
		<div class="form-group">
			<button type="" class="btn btn-aristo btn-aristo__gray"><i class="fa fa-exchange" aria-hidden="true"></i><span class="sr-only">Exchange</span>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-aristo btn-aristo__orange">Search</button>
		</div>
	</form>

	<div class="cta-wrapper">
		<a href="" role="button" class="btn-add-destination"><i class="fa fa-plus" aria-hidden="true"></i> Add Destination!</a>
	</div>
</section>