<section class="dashboard-footer">
	<header class="section-header">
		<h5 class="section-title">Select Hotel, <span>6 April 2016</span> <a href="">View More</a></h5>
	</header>

	<ul class="hotel-carousel" id="js-hotel-carousel">
		<li class="hotel-item-wrapper">
			<div class="hotel-item">
				<div class="item-body">
					<h6 class="item-title">Grand Hyat Jakarta</h6>
					<p class="text-start-from">Start From</p>
					<p class="text-rate">$100/night</p>
				</div>
				<div class="item-thumbnail" style="background-image: url('../assets/images/mockups/icon-hotel.png');"></div>
			</div>
		</li>

		<li class="hotel-item-wrapper">
			<div class="hotel-item is-selected">
				<div class="item-body">
					<h6 class="item-title">Sari Pan Pacific Jakarta</h6>
					<p class="text-start-from">Start From</p>
					<p class="text-rate">$85/night</p>
				</div>
				<div class="item-thumbnail" style="background-image: url('../assets/images/mockups/icon-hotel.png');"></div>
			</div>
		</li>

		<li class="hotel-item-wrapper">
			<div class="hotel-item is-selected">
				<div class="item-body">
					<h6 class="item-title">Ritz CartonJakarta</h6>
					<p class="text-start-from">Start From</p>
					<p class="text-rate">$105/night</p>
				</div>
				<div class="item-thumbnail" style="background-image: url('../assets/images/mockups/icon-hotel.png');"></div>
			</div>
		</li>

		<li class="hotel-item-wrapper">
			<div class="hotel-item">
				<div class="item-body">
					<h6 class="item-title">Intercontinental Jakarta</h6>
					<p class="text-start-from">Start From</p>
					<p class="text-rate">$200/night</p>
				</div>
				<div class="item-thumbnail" style="background-image: url('../assets/images/mockups/icon-hotel.png');"></div>
			</div>
		</li>

		<li class="hotel-item-wrapper">
			<div class="hotel-item">
				<div class="item-body">
					<h6 class="item-title">Holiday Inn Jakarta</h6>
					<p class="text-start-from">Start From</p>
					<p class="text-rate">$200/night</p>
				</div>
				<div class="item-thumbnail" style="background-image: url('../assets/images/mockups/icon-hotel.png');"></div>
			</div>
		</li>
	</ul>
</section>