<section class="time-table nano">
	<div class="nano-content">
		<aside class="time-ruler">
			<img src="../assets/images/icons/icon-big-clock.gif" alt="" class="time-ruler-icon">
			<ul class="time-ruler-list">
				<li>05:00</li>
				<li>06:00</li>
				<li>07:00</li>
				<li>08:00</li>
				<li>09:00</li>
				<li>10:00</li>
				<li>11:00</li>
				<li>12:00</li>
				<li>13:00</li>
				<li>14:00</li>
				<li>15:00</li>
				<li>16:00</li>
				<li>17:00</li>
				<li>18:00</li>
				<li>19:00</li>
				<li>20:00</li>
				<li>21:00</li>
				<li>22:00</li>
				<li>23:00</li>
			</ul>
		</aside>
	</div>
</section>