$base-font-family: 'open sans', sans-serif;
$accent-font-family: 'open sans', sans-serif;

$aristo-gray: #848484;
$aristo-gray-light: #cccccc;
$aristo-sky-blue: #0a9ee0;
$aristo-ocean-blue: #0f82b5;
$aristo-navy-blue: #0a0236;
$aristo-orange: #ea8f33;

$base-font-color: black;
$accent-color: gray;
$accent-color-hover: darken($accent-color, 10%);
$accent-color-dark: darken($accent-color, 20%);
$complement-color: gray;
$background-color: white;