.btn-aristo {
	font-weight: 700;
	/* text-transform: uppercase; */
}

.btn-aristo.btn-aristo__thin {
	font-weight: 300;
}

.btn-aristo__lg {
	padding: 1.4em 16px;
}

.btn-aristo__orange {
	background: $aristo-orange;
	color: white;

	&:hover {
		background: lighten($aristo-orange, 5%);
		color: white;
	}

	&:active,
	&:focus {
		background: darken($aristo-orange, 10%);
		color: white;
	}
}

.btn-aristo__white {
	background: #fff;
	color: #333;

	&:hover {
		background: darken(#fff, 5%);
		color: #333;
	}

	&:active,
	&:focus {
		background: darken(#fff, 10%);
		color: #333;
	}
}

.btn-aristo__white-orange {
	background: white;
	color: $aristo-gray;

	&:hover {
		background: white;
		color: $aristo-orange;
		border: 1px solid #ebebeb;
	}

	&:active,
	&:focus {
		color: white;
		border-color: $aristo-orange;
		background: $aristo-orange;
	}
}