.dashboard-sidebar {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 330px;
	box-shadow: 0px 2px 2px rgb(170, 170, 170);
	background: white;

	.sidebar-section {
		padding: 16px;
		border-bottom: 1px solid #f0f0f0;

		&:last-of-type {
			border: none;
		}
	}

	.sidebar-section__trip-preference {

	}

	.sidebar-section__booking-details {
		flex-grow: 2;
	}

	.sidebar-header {
		text-align: center;
	}

	.sidebar-title {
		margin-top: 1em;
		margin-bottom: 0.3em;
		font-size: 1em;
		text-transform: uppercase;
	}

	.sidebar-subtitle {
		color: $aristo-gray;
	}

	.nano-content {
		padding: 16px;
	}

	.trip-preference-wrapper {
		position: relative;
		overflow: hidden;

		&::before {
			content: "";
			position: absolute;
			width: 66.66%;
			height: 1px;
			background: $aristo-gray-light;
			top: 2em;
			left: 16.665%;
		}

		.form-control {
			position: absolute;
			left: -1000%;
		}

		label {
			float: left;
			position: relative;
			margin: 2em 0;
			padding-top: 2em;
			width: 33.33%;
			color: $aristo-gray-light;
			text-align: center;
			text-transform: uppercase;
			font-size: 0.8em;
			font-weight: 700;
			cursor: pointer;

			&::before {
				position: absolute;
				content: "";
				width: 12px;
				height: 12px;
				top: 0;
				left: calc(50% - 6px);
				background: $aristo-gray-light;
				border-radius: 50%;
				box-shadow: 0 2px 2px rgba(0,0,0,0.2) inset;
			}
		}

		.form-control:checked + label {
			color: $aristo-sky-blue;

			&::before {
				background: $aristo-sky-blue;
				box-shadow: 0 0 6px rgba(10,158,224,1);
			}
		}
	}

	.widget-container {
		margin-bottom: 1.8rem;

		.widget-meta-type {
			color: $aristo-gray-light;
			font-size: 0.9em;
		}

		.widget-wrapper {
			position: relative;
			height: 80px;
		}

		.widget-wrapper .close {
			z-index: 3;
			position: relative;
			color: white;
			border: 1px solid white;
			padding: 0.12em 0px 0px 0.2em;
			width: 1.4em;
			height: 1.4em;
			font-size: 0.9em;
			right: 0.5em;
			top: 0.5em;
			opacity: 1;
			border-radius: 50%;
		}

		.widget-instruction {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			border: 1px dashed $aristo-gray-light;
			border-radius: 5px;

			p {
				position: absolute;
				width: 100%;
				top: 50%;
				margin: 0;
				padding: 0 10px;
				text-align: center;
				transform: translate(0, -50%);
				color: $aristo-gray-light;
				font-size: 0.9em;
				font-weight: 700;
				text-transform: uppercase;
				line-height: 1.2;
			}
		}

		.widget-content {
			background: white;
			z-index: 2;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 5px;
			border: 1px solid $aristo-gray-light;
			overflow: hidden;
		}

		.widget-type__hotel {
			.widget-thumbnail {
				float: right;
				width: 80px;
				height: 80px;
			}

			.widget-body {
				width: calc(100% - 80px);
				float: left;
				padding: 9px 12px;
			}

			.widget-title {
				margin-top: 0px;
				margin-bottom: 0.6em;
				font-size: 0.8em;
			}

			.select-wrapper {
				height: 2em;
				font-size: 0.8em;
				width: 90px;
				display: inline-block;

				select {
					font-size: 1em;
					padding-left: 6px;
					height: 26px;
					padding-bottom: 0;
					padding-top: 0;
				}
			}

			.form-control {
			    -webkit-appearance: none;
			    -moz-appearance: none;
			    text-indent: 1px;
			    text-overflow: '';

				&::-ms-expand {
				    display: none;
				}
			}

			.form-control + .form-control {
				margin-left: 5px;
			}

			.form-total {
				margin: 4px 0px;
				font-size: 0.8em;

				span {
					font-weight: 700;
				}
			}
		}

		.widget-type__airline {
			.widget-thumbnail-wrapper {
				width: 50px;
				height: 100%;
				background: $aristo-sky-blue;
				float: left;
			}

			.widget-thumbnail {
				position: relative;
				width: 75%;
				height: auto;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			.widget-body {
				float: left;
				background: $aristo-ocean-blue;
				width: calc(100% - 130px);
				height: 100%;
				padding: 9px;
				color: white;
			}

			.widget-title {
				margin: 0.2em 0px;
				text-transform: uppercase;
			}

			.widget-copy {
				margin: 0px;
				line-height: 1.2;
			}

			.widget-extra {
				float: right;
				width: 80px;
				height: 100%;
				background: $aristo-sky-blue;
				padding: 9px;
			}

			.total {
				position: relative;
				margin: 0;
				top: 50%;
				color: white;
				text-align: center;
				font-weight: 700;
				font-size: 1.2em;
				line-height: 1.2;
				transform: translate(0, -50%);
			}
		}
	}

	.sidebar-footer {
		border-top: 1px dashed $aristo-gray-light;
		padding: 16px;

		.text-total {
			margin: 0;
			color: $aristo-gray-light;
			text-transform: uppercase;
			font-size: 0.75em;
		}

		.text-destination {
			font-weight: 700;
			text-transform: uppercase;
			margin-bottom: 0;
		}

		.text-nominal {
			float: right;
			margin-bottom: 0;
			padding-top: 0.15em;
			font-size: 2em;
			font-weight: 300;
		}

		.cta-wrapper {
			margin-top: 2rem;
		}
	}
}