.destination-filter {
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.21);
	background: white;

	.form-inline {
		padding: 15px 15px 5px;
	}

	.form-group {
		float: left;
		margin-bottom: 10px;
		padding: 0 3px;

		select,
		input,
		button {
			width: 100%;
		}
	}

	.form-group__input-city,
	.form-group__input-date {
		width: 20%;
	}

	.form-group__btn-exchange {
		width: 5%;
	}

	.form-group__btn-submit {
		width: 15%;
	}

	.cta-wrapper {
		text-align: center;
		padding-left: 90px;
	}

	.btn-add-destination {
		padding: 1rem 0.5rem;
		display: block;
		width: 160px;
		margin: 0px auto;
		border-radius: 5px 5px 0px 0px;
		border: 1px dashed $aristo-gray-light;
		border-bottom: none;
		color: $aristo-gray;
		text-decoration: none;

		.fa {
			padding: 4px;
			border-radius: 50%;
			background: $aristo-gray-light;
			height: 1.5em;
			width: 1.5em;
		}
	}

	select:invalid { color: gray; }
}