select.form-control {
	position: relative;
	z-index: 3;
	background: none;
	
	-webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';

	&::-ms-expand {
	    display: none;
	}
}

.select-wrapper {
	position: relative;

	&::after {
		content: "\f078";
		position: absolute;
		color: #8c97b2;
		display: inline-block;
		right: 0.9em;
		top: 0.7em;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		font-size-adjust: none;
		font-stretch: normal;
		font-feature-settings: normal;
		font-language-override: normal;
		font-kerning: auto;
		font-synthesis: weight style;
		font-variant: normal;
		font-size: inherit;
		text-rendering: auto;
	}

	.form-control {
		padding-right: 2.4em;
	}

	&.select-wrapper__currency {
		.currency {
			position: absolute;
			font-weight: 700;
			line-height: 34px;
			left: 0.8em;
		}
		
		.form-control {
			padding-left: 2em;
		}
	}

	&.select-wrapper__departure {
		&::before {
			content: "";
			position: absolute;
			left: 0.8em;
			height: 20px;
			width: 20px;
			background-size: 100%;
			top: 50%;
			transform: translate(0, -50%);
			background-image: url('../images/icons/icon-departure.gif');
		}

		select {
			padding-left: 2.4em;
		}
	}

	&.select-wrapper__return {
		&::before {
			content: "";
			position: absolute;
			left: 0.8em;
			height: 20px;
			width: 20px;
			background-size: 100%;
			top: 50%;
			transform: translate(0, -50%);
			background-image: url('../images/icons/icon-return.gif');
		}

		select {
			padding-left: 2.4em;
		}
	}
}

.date-wrapper {
	position: relative;
	background: white;

	&::before {
		content: "";
		position: absolute;
		right: 0.8em;
		height: 20px;
		width: 20px;
		background-size: 100%;
		top: 50%;
		transform: translate(0, -50%);
		background-image: url('../images/icons/icon-date.gif');
	}

	input {
		background: none;
		position: relative;
		z-index: 2;
	}
}