.page__calender {
	position: absolute;
	width: 100%;
	height: calc(100% - 52px);
	top: 52px;

	.page-content {
		position: absolute;
		height: 100%;
		width: calc(100% - 330px);
		display: flex;
		flex-direction: column;
	}

	.destination-filter {
		width: 100%;
		z-index: 2;
/*     	position: absolute;
    	z-index: 2; */
    	flex-shrink: 0;
	}

	.time-table {
		flex-grow: 2;
	}

	.dashboard-sidebar {
		position: absolute;
		right: 0;
		height: 100%;
		z-index: 3;
	}

	.dashboard-footer {
/* 		position: absolute;
		bottom: 0px;
		left: 0px; */
		width: 100%;
		flex-shrink: 0;
	}
}